.clear-fix{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.ant-menu a{
  color:white !important;
}

.pull-right{
  float:right;
}

.pull-left{
  float:left;
}

a.out-link{
  color:white;
  display:inline-block;
}

a.out-link:hover{
  color:white;
}