.banner-item{
  height: 700px;
  max-height:100vh;
}
.ant-carousel .slick-dots{
  li{
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 6px;
    padding: 0;
    button{
      height:6px;
      width:36px;
    }
  }
  li.slick-active{
    button{
      width:36px;
      height:6px;
      background: orangered;
    }
  }
}