<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="AboutUs.css" type="text/css" rel="stylesheet"/>
    <title>关于我们</title>
</head>
<body>
    <div id="ab-contentone">
        <div class="ab-ctop">
            <div class="ab-pic"><img src="../../images/coms-bg.jpg" width="90%" height="95%"/></div>
            <div class="ab-info">
                bfgbfdxcbvgfcvbrhgfb
                brgfgfcvcbfc
                gkjjhn,nm
                jhnm 
            </div>
            <div class="clear"></div>
        </div>
        <div class="ab-cbt">
            <div class="cbta"><img src="../../images/11.jpg" height="200px"/></div>
            <div class="cbtb"><img src="../../images/11.jpg" height="200px"/></div>
            <div class="cbtb"><img src="../../images/11.jpg" height="200px"/></div>
            <div class="clear"></div>
        </div>
    </div>

</body>
</html>
