.banner2 .bg1{
  background:rgb(53, 181, 210);
  transform: translateY(-100px);
  height: calc(100% + 200px);
  top: -100px;
  width: calc(100% + 30px);
  left: -15px;
}

.car-title{
  padding:20px;
}
.car-title h1{
	color:white;
}
.careers-info{
  margin: 0 0 20px 0;
}
.careers-content{
  font-size:15px;
  color:#050505;
}
.careers-title{
  padding:10px 0;
  font-size:24px;
  color: #000;
}
.carees-list{
	color:white;
}
.car-link{
	font-size:16px;
}
.nr{
   transition: all .6s ease-in-out;
   width:1200px;
   margin: auto;
   position: relative;
   .nr-ins{
    width:220px;
    position: absolute;
    right:120px;
    top:160px;
  }
  .car-panel{
    width:100%;
    border: 1px solid #F39801;
    padding:5px;
    p{
      text-align: center;
      font-size: 16px;
    }
    >h1{
      text-align: center;
    }
    .car-panel-ins{
      div{
        padding:30px 30%;
        text-align: center;
        font-size:18px;
        color:white;
        h1{
          color:white;
          margin-bottom: 20px;
          font-size:28px;
        }
      }
    }
  }
}

