.banner2 .bg1{
  background:rgb(53, 181, 210);
  transform: translateY(-100px);
  height: calc(100% + 200px);
  top: -100px;
  width: calc(100% + 30px);
  left: -15px;
}

.car-title{
  padding:20px;
}

.careers-info{
  margin: 0 0 20px 0;
}
.careers-content{
  font-size:13px;
}

.careers-title{
  padding:10px 0;
  font-size:20px;
  color:black;
}