.custom-image img {
  display: block;
  width: 100%;
  height: 266px;
}

.custom-card {
  padding: 10px 16px;
  text-align: center;
  width: 400px;
  text-decoration: none;
  color:rgba(0,0,0,.65);
  nobr{
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.custom-card p {
  color: #999;
}

.custom {
  float: left;
  margin: 0 20px 20px 20px;
}