.custom-image img {
  display: block;
  width: 100%;
}

.custom-card {
  padding: 10px 16px;
  h3,
  p {
    overflow: hidden;
    width: 400px;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
  }
}

.custom-card p {
  color: #999;
}

.custom {
  float: left;
  margin: 0 20px 20px 20px;
}